.header {
  padding: 92px 50px 96px;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  column-gap: 20px;
}

.header__links-list {
  display: flex;
  column-gap: 29px;
  list-style: circle;
}

.header__links-list-item {
  padding-left: 4px;
  line-height: 1;
}

.header__links-list-item--no-bullit {
  list-style: none;
  padding-left: 0;
}

.header__link {
  text-transform: lowercase;
  font-size: 18px;
  text-underline-offset: 4px;
}

.header__link--active {
  text-decoration: none;
}

.header__logo {
  display: block;
  min-width: 148px;
  line-height: 0;
}

.header__address {
  max-width: 238px;
  justify-self: end;
}

.address {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-style: normal;
  font-size: 18px;
  line-height: 1.35;
  text-underline-offset: 3px;
}

.cover {
  position: relative;
  padding: 165px 50px 49px;
  margin-bottom: 180px;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 757px;
  z-index: -2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cover--theme-bright {
  color: #fff;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.6;
  z-index: -1;
}

.cover__title {
  display: flex;
  flex-direction: column;
  row-gap: 17px;
}

.aligned-text {
  line-height: 1.18;
  letter-spacing: 0.3em;
  display: block;
}

.aligned-text--center {
  text-align: center;
}

.aligned-text--right {
  text-align: right;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 20px;
  font-size: 22px;
  text-transform: uppercase;
}

.cover__description-text {
  word-spacing: 18px;
}

.cover__bet-button {
  padding: 12px 32px 11px 31px;
  border: 1px solid #fff;
  text-transform: inherit;
  color: inherit;
  background-color: transparent;
  line-height: 1.2;
}

.lots {
  padding: 0 24px;
  margin-bottom: 120px;
}

.about {
  padding: 35px 24px 0px;
  margin-bottom: 180px;
}

.footer {
  padding: 0 50px 82px;
}
